.img {
  background: center no-repeat url(../../../assets/images/chocolatier.jpg);
  background-position-y: center;
  background-size: 25rem 20rem;
  height: 7rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -99;
}
.search-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 65px;
}
.card-container {
  position: relative;
}
.spacer {
  width: 200px;
  height: 10px;
}
@media screen and (min-width: 375px) {
  .img {
    background-size: 30rem 15rem;
  }
}
@media screen and (min-width: 425px) {
  .img {
    background-size: 45rem 20rem;
    background-position-y: -7rem;
  }
}
@media screen and (min-width: 576px) {
  .img {
    background-size: 55rem 25rem;
    background-position-y: -10rem;
  }
}
@media screen and (min-width: 768px) {
  .img {
    height: 10rem;
    background-size: 75rem 35rem;
    background-position-y: -14rem;
  }
  .spacer {
    height: 40px;
  }
  .search-container {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .img {
    height: 12rem;
    background-size: 95rem 45rem;
    background-position-y: -18.5rem;
  }
  .search-container {
    margin-top: 9.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .img {
    height: 12rem;
    background-size: 120rem 55rem;
    background-position-y: -25rem;
  }
}
@media screen and (min-width: 1660px) {
  .img {
    height: 12rem;
    background-size: 135rem 55rem;
    background-position-y: -28rem;
  }
}
