<section class="img">
  <form>
    <div class="form-display">
      <div class="form form-user">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" />
      </div>
      <div class="form form-pass">
        <label for="pass">Contraseña</label>
        <input type="password" id="pass" />
    </div>
    <button type="submit">Ingresar</button>
    </div>
  </form>
  <div class="link-div">
    <span class="link-span" routerLink="/new/recipe">Añadir receta nueva</span>
  </div>
</section>
