<section>
  <div class="spacer img"></div>
  <div class="container" *ngIf="!isLoading">
    <div class="main-container">
      <div class="img-container">
        <img src="../../../assets/images/chipa.jpg" alt="30" />
      </div>
      <div class="title-container">
        <h1>{{recipe.title | titlecase}}</h1>
      </div>
      <div class="ingredients-container">
        <p class="ingredients">
         {{recipe.ingredients}}
        </p>
        <hr />
      </div>
      <div class="desc-container">
        <p class="desc">
          {{recipe.preparation}}
        </p>
      </div>
      <div class="btn-container">
        <div class="btn-del-container">
          <button class="btn-del">Borrar</button>
        </div>
        <div class="btn-edit-container">
          <button class="btn-edit">Editar</button>
        </div>
      </div>
    </div>
  </div>
<app-loading *ngIf="isLoading"></app-loading>
</section>
