<section>
  <div class="img"></div>
  <div class="container" *ngIf="!isLoading">
    <div class="main-container">
      <div class="img-container">
        <img [src]="recipe.file" alt="30" />
      </div>
      <div class="title-container">
        <h1>{{ recipe.title | titlecase }}</h1>
      </div>
      <div class="ingredients-container">
        <p class="ingredients">
          {{ recipe.ingredients }}
        </p>
        <hr />
      </div>
      <div class="desc-container">
        <p class="desc">
          {{ recipe.preparation }}
        </p>
      </div>
      <div class="btn-container" *ngIf="isLoggedIn">
        <div class="btn-del-container">
          <button class="btn-del" (click)="recipeDelete(recipe._id)">
            Borrar
          </button>
        </div>
        <div class="btn-edit-container">
          <button class="btn-edit" [routerLink]="['../../edit', routeId]">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isDeleting" [ngClass]="{animate__fadeOut: isVanished}" class="main-delete-container animate__animated animate__fadeIn">
    <div class="delete-container">
      <h1>Borrando receta...</h1>
    </div>
  </div>
  <app-modal (onCancel)="cancel( $event )" (onDelete)="delete( $event )" *ngIf="isModal"></app-modal>
  <app-loading *ngIf="isLoading"></app-loading>
</section>

