<section>
  <div class="spacer img"></div>
  <div class="container">
    <div class="main-container">
      <div class="img-container">
        <img src="../../../assets/images/chipa.jpg" alt="30" />
      </div>
      <div class="title-container">
        <h1>Chipa</h1>
      </div>
      <div class="ingredients-container">
        <p class="ingredients">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi
          quisquam blanditiis laudantium sit maiores quas atque nostrum, at
          adipisci corrupti doloribus similique optio, quo consequuntur labore
          repudiandae reprehenderit. Quo, soluta?
        </p>
        <hr />
      </div>
      <div class="desc-container">
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          fugit consequuntur veritatis atque ipsum repellendus in asperiores ab
          commodi, ipsam molestias sed voluptate maiores quod animi cupiditate
          perferendis blanditiis at!
        </p>
      </div>
    </div>
  </div>
</section>
