<section>
  <div class="img"></div>

  <div class="loading-container" *ngIf="isLoading; else isNotLoading">
    <app-loading></app-loading>
  </div>
  <ng-template #isNotLoading>
    <div class="form-container">
      <form *ngIf="!isLoading" [formGroup]="myForm" (ngSubmit)="editRecipe()">
        <div class="background">
          <div class="container">
            <label for="">Titulo*</label>
            <div>
              <input class="recipe-title" type="text" formControlName="title" />
            </div>
          </div>
          <div class="container text-area">
            <label for="">Ingredientes*</label>
            <div>
              <textarea
                name="ingredients"
                id=""
                cols="30"
                rows="10"
                formControlName="ingredients"
              ></textarea>
            </div>
          </div>
          <div class="container text-area">
            <label for="desc">Preparacion*</label>
            <div>
              <textarea
                name="preparation"
                id="desc"
                cols="30"
                rows="10"
                formControlName="preparation"
              ></textarea>
            </div>
          </div>
          <div class="container">
            <div>
              <label for="menu" class="bottom-input">Especialidad*</label>
              <select name="menu" id="menu" formControlName="menu">
                <option value="Pasteleria">Pasteleria</option>
                <option value="Panaderia">Panaderia</option>
                <option value="Chocolateria">Chocolateria</option>
              </select>
            </div>
            <div>
              <input type="file" name="file" id="file" (change)="imgUpload( $event )" />
            </div>
          </div>
          <div class="container">
            <img
              src="../../../assets/images/check.svg"
              alt="success"
              width="50"
              *ngIf="isSuccess; else submit"
            />
            <ng-template #submit>
              <button type="submit" [ngClass]="{ disabled: myForm.invalid }" [disabled]="myForm.invalid">
                Agregar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
      <div *ngIf="isUpdating" [ngClass]="{animate__fadeOut: isVanished}" class="main-updating-container animate__animated animate__fadeIn">
        <div class="updating-container">
          <h1>Actualizando receta...</h1>
        </div>
      </div>
    </div>
  </ng-template>
</section>
