<section class="card-section">
      <div class="card animate__animated animate__fadeIn" *ngFor="let recipe of recipes | paginate: {itemsPerPage: count, currentPage: p}" [routerLink]="['../view', recipe._id]">
        <div class="card-img">
          <img [src]="recipe.file" alt="" class="recipe-img">
        </div>
        <div class="card-text">
          <p class="recipe-text">{{recipe.title | titlecase}}</p>
        </div>
      </div>
      <div class="pagination-container">
        <div class="pagination" *ngIf="recipes.length > 5">
          <pagination-controls class="control" [maxSize]="5" [previousLabel]="''" [nextLabel]="''" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
</section>
