.card-section {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  flex-direction: column;
}
.card {
  background-color: #ffffff54;
  backdrop-filter: blur(5px);
  border: none;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  transform: translateY(6px);
  margin-top: 15px;
  word-break: break-all;
}
.card-img {
  height: auto;
  width: 80px;
}
.card-text {
  margin: auto;
  height: 70px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.recipe-img {
  width: 90px;
  height: 80.5px;
  border-radius: 10px 0 0 10px;
}
.recipe-text {
  margin-left: 3px;
}

.card:hover {
  transition: all 0.2s ease-in;
  transform: translateY(-1px);
}


.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagination{
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;

}
.control{
  position: relative;
  top: 6px;
}



@media screen and (min-width: 375px) {
  .card {
    width: 250px;
  }
  .card-text {
    width: 150px;
  }
}
@media screen and (min-width: 425px) {
  .card {
    width: 300px;
    height: 6rem;
  }
  .card-text {
    width: 200px;
  }
  .recipe-img {
    width: 95px;
    height: 96px;
  }
}
@media screen and (min-width: 576px) {
  .card-section {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .card-section {
    top: 9rem;
    align-items: center;
  }
  .card {
    width: 400px;
  }
  .card-img {
    width: 100px;
  }
  .card-text {
    width: 260px;
    margin-right: 3px;
  }
  .recipe-img {
    width: 150px;
    height: 96.2px;
  }
}
@media screen and (min-width: 1021px) {
  .card-section {
    top: 12rem;
  }
}
@media screen and (min-width: 1600px) {
  .card {
    width: 600px;
    height: 100px;
  }
  .card-img {
    width: 120px;
  }
  .card-text {
    width: 260px;
    margin: auto auto;
    font-size: 1.5rem;
  }
  .recipe-img {
    width: 150px;
    height: 101px;
  }
}
