.side-section{
    position: absolute;
    top: 7rem;
    width: 6rem;
}
.list{
    height: auto;
    background-color: red;
}
.title{
    text-align: center;
    padding-top: .5rem;
}
hr{
    width: 5rem;
}

@media screen and (min-width: 768px) {
    .side-section{
        top: 19rem;
    }
}