.side-section{
    position: absolute;
    top: 7rem;
    width: 6rem;
}
.list{
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 2px;
}
.title{
    text-align: center;
    padding-top: .5rem;
}
hr{
    width: 5rem;
}

@media screen and (min-width: 768px) {
    .side-section{
        top: 10rem;
        width: 9rem;
    }
}
@media screen and (min-width: 1024px){
    .side-section{
        top: 12rem;
        width: 15rem;
    }
}