<section class="img">
  <form class="form-container" [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="background">
      <div class="container">
        <label for="">Titulo*</label>
        <div>
          <input type="text" formControlName="title" class="title-container" />
        </div>
      </div>
      <div class="container text-area">
        <label for="">Ingredientes*</label>
        <div>
          <textarea
            name="ingredients"
            id=""
            cols="30"
            rows="10"
            formControlName="ingredients"
          ></textarea>
        </div>
      </div>
      <div class="container text-area">
        <label for="desc">Preparacion*</label>
        <div>
          <textarea
            name="preparation"
            id="desc"
            cols="30"
            rows="10"
            formControlName="preparation"
          ></textarea>
        </div>
      </div>
      <div class="container">
        <div>
          <label for="menu" class="bottom-input">Especialidad*</label>
          <select name="menu" id="menu" formControlName="menu">
            <option value="Pasteleria">Pasteleria</option>
            <option value="Panaderia">Panaderia</option>
            <option value="Chocolateria">Chocolateria</option>
          </select>
        </div>
        <div>
          <input
            type="file"
            name="file"
            id="file"
            (change)="imgUpload($event)"
          />
        </div>
      </div>
      <div class="container">
        <button
          type="submit"
          [ngClass]="{ disabled: myForm.invalid }"
          [disabled]="myForm.invalid"
          *ngIf="!isLoading; else loading"
        >
          Agregar
        </button>

        <ng-template #loading>
          <div class="bar1 bar"></div>
          <div class="bar2 bar"></div>
          <div class="bar3 bar"></div>
        </ng-template>

        
        
      </div>
    </div>
  </form>
  <div class="main-success-container animate__animated animate__fadeIn" [ngClass]="{animate__fadeOut: isVanished}" *ngIf="isSuccess">
    <div class="success-container">
        <h1 class="success-title">Receta agregada!</h1>
      </div>
  </div>
</section>
