.img {
  background-image: url(../../../assets/images/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -99;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.background {
  color: #dbdbdb;
  position: relative;
  bottom: -65px;
  height: 38rem;
  width: 16.5rem;
  background-color: #9c9c9c88;
  backdrop-filter: blur(8px);
  border-radius: 10px;
}
.title-container {
  text-align: center;
}
.container {
  margin-top: 15px;
}
.bottom-input {
  margin-right: 20px;
}
#file {
  margin-top: 30px;
}
.container:nth-child(4) {
  margin-top: 25px;
}
.container:nth-child(5) {
  margin-top: 25px;
}
.main-success-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 6rem;
  width: 100%;
}
.success-container {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  letter-spacing: 1px;
}

button {
  transition: background-color 0.3s ease-in;
  background-color: #3333e0;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: #e5e5e5;
  font-size: 1.1rem;
  box-shadow: rgba(46, 46, 54, 0.25) 0px 2px 5px -1px,
    rgba(85, 82, 82, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}
select {
  cursor: pointer;
}

.disabled {
  background-color: rgb(109, 106, 106);
}
.bar {
  margin-left: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.bar1 {
  animation: jump 1s ease-in-out infinite;
}

.bar2 {
  animation: jump 1s ease-in-out infinite 0.2s;
}

.bar3 {
  animation: jump 1s ease-in-out infinite 0.3s;
}

/*--------------------------------*/

@media screen and (min-width: 425px) {
  .background {
    font-size: 1.2rem;
    bottom: -20px;
    height: 40rem;
  }
}

@media screen and (min-width: 768px) {
  .background {
    height: 25rem;
    width: 40rem;
    font-size: 1.2rem;
  }
  .container {
    margin-top: 28px;
  }
  .container.text-area {
    display: inline-block;
  }
  .bottom-input {
    margin-right: 8px;
  }
  .text-area:nth-child(2) {
    margin-right: 20px;
  }
  .container:nth-child(4) {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .container:nth-child(5) {
    margin-top: 30px;
  }
  #file {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    width: 8rem;
  }
  .main-success-container {
    top: 9rem;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
