

.img{
    background: center no-repeat url(../../../assets/images/pastry.jpg);
    background-position-y: center;
    background-size: 25rem 20rem;
    height: 7rem;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -99;
}
@media screen and (min-width: 375px) {
    .img {
      background-size: 30rem 15rem;
    }
  }
  @media screen and (min-width: 425px) {
    .img {
        background-position-y: -7rem;
      background-size: 45rem 25rem;
    }
  }
  @media screen and (min-width: 576px) {
      .img{
         
        background-size: 55rem 25rem;
      }
  }
  @media screen and (min-width: 768px) {
      .img{
          height: 10rem;
          background-size: 75rem 40rem;
          background-position-y: -12rem;
  }
  }
  @media screen and (min-width: 1024px) {
      .img{
          height:12rem;
          background-size: 95rem 55rem;
          background-position-y: -15rem;
      }
  }
  @media screen and (min-width: 1440px) {
      .img{
          height:12rem;
          background-size: 120rem 53rem;
          background-position-y: -15rem;
      }
  }
  @media screen and (min-width: 1660px) {
      .img{
          height:12rem;
          background-size: 120rem 55rem;
          background-position-y: -15rem;
      }
  }