.card-section {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  position: relative;
  top: 8rem;
}
.card {
  background-color: red;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 200px;
}
.card-img {
  background-color: yellow;
  height: auto;
  width: 80px;
}
.card-text {
  background-color: yellow;
  margin: auto;
  height: 70px;
  width: 110px;
}
@media screen and (min-width: 375px){
    .card{
        width: 250px;
    }
    .card-text{
        width: 150px;
    }
}
@media screen and (min-width: 425px){
    .card{
        width: 300px;
        height: 6rem;
    }
    .card-text{
        width: 200px;
    }
}

