.img {
  background: center no-repeat url(../../../assets/images/bakery.jpg);
  background-position-y: center;
  background-size: 25rem 15rem;
  height: 7rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -99;
}
.search-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 65px;
}
.card-container {
  position: relative;
}
.spacer {
  width: 200px;
  height: 10px;
}
@media screen and (min-width: 375px) {
  .img {
    background-size: 28rem 15rem;
  }
}
@media screen and (min-width: 425px) {
  .img {
    background-size: 42rem 25rem;
    background-position-y: -8rem;
  }
}
@media screen and (min-width: 576px) {
  .img {
    background-size: 47rem 24rem;
  }
}
@media screen and (min-width: 768px) {
  .img {
    height: 10rem;
    background-size: 64rem 30rem;
    background-position-y: -8rem;
  }
  .spacer {
    height: 40px;
  }
  .search-container {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .img {
    height: 12rem;
    background-size: 95rem 50rem;
    background-position-y: -16rem;
  }
  .search-container {
    margin-top: 9.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .img {
    height: 12rem;
    background-size: 120rem 60rem;
    background-position-y: -19rem;
  }
}
@media screen and (min-width: 1660px) {
  .img {
    height: 12rem;
    background-size: 135rem 70rem;
    background-position-y: -25rem;
  }
}
