html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
 body{
	height: 100vh;
	/* background: linear-gradient(36deg, #a89696 33%, #f8f9fa 91%); */
	/* background: linear-gradient(36deg, #704040 9%, #6b3333 40%, #6b0707 79%); */
	background: linear-gradient(to top, #581313 33%, #630800 100%);
}






/* 7c7c 
#a89696
#6b0707

fondo de la pag f8f9fa  , los "articulos" fondo blanco sin borde
la sombra 0 2px 5px rgb (0,0,0 / 14%) proba algo asi a ver q tal queda
le podes poner un border radius de 6 al articulo*/