.input-section {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 65px;
}
#recipe-search {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
}

@media screen and (min-width: 425px) {
  .input-section{
    margin: 0;
    top: -16.5rem;
  }
}

@media screen and (min-width: 768px) {
  .input-section{
    top: -13.5rem;
  }
  #recipe-search{
    width: 20rem;
    height: 1rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1021px) {
  .input-section{
    top: -11.5rem;
  }
  #recipe-search{
    width: 30rem;
    height: 1.5rem;
    font-size: 1.1rem;
  }
}
